[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-cnbeta
Exec=harbour-cnbeta
Name=Cnbeta
# translation example:
# your app name in German locale (de)
Name[de]=harbour-cnbeta

